.carouselContainer {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .carouselItem {
    position: relative;
    height: 400px;
    overflow: hidden;
  }
  
  .carouselItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carouselText {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: rgb(0, 0, 0);
  }
  
  .carouselText h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .carouselText p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .ctaButton {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .ctaButton:hover {
    background-color: #0056b3;
  }
  