.container {
  padding: 2rem;
  background-color: #ffffff;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.column {
  margin: 5rem;
}

.card {
  border-radius: 15px;
  padding: 2rem;
}

.cardUpdate {
  background-color: #f8f9fa;
}

.heading {
  padding-top: 10px;
  color: #5271FF;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  ali-items: center;
}
p{
  color: #515253;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
  align-items: center;
}

.headingNormal {
  padding-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.inputWrapper {
  margin-bottom: 1.5rem;
}

.label {
  font-weight: bold;
}

.value {
  margin-top: 0.5rem;
}

.bgIndigo {
  background-color: #5271FF;
}
.buttons {
  padding-top: 10px;}

  .imageColumn {
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
 
  }
  
  .image {
    max-height: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }