.container {
  padding: 2rem;
  background-color: #ffffff;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.column {
  margin: 5rem;
}

.card {
  border-radius: 15px;
  padding: 2rem;
}

.cardAdd {
  background-color: #ffffff;
}

.heading {
  padding-top: 10px;
  color: #5271FF;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center; /* Zarovnanie textu na stred */
}

p {
  color: #515253;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center; /* Zarovnanie textu na stred */
}

.headingNormal {
  padding-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;  
}

.inputWrapper {
  margin-bottom: 1.5rem;
}

.label {
  font-weight: bold;
}

.value {
  margin-top: 0.5rem;
}

.bgIndigo {
  background-color: #5271FF;
}

.buttons {
  padding-top: 10px;
  display: flex;
  justify-content: center;  
}

.buttons button {
  margin: 0 2px;  
  width: 90px;
}


.imageColumn {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-height: 270px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text {
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-left: 10%;
  text-align: center; 
}
