.container {
    padding: 2rem;
  }
  .registrationCard {
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .introText {
    align-items: center;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 20px;
  }
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .column {
    margin: 5rem;
  }
  
  .card {
    border-radius: 15px;
    padding: 2rem;
  }
  
  .cardRegistration {
    background-color: #f8f9fa;
  }
  
  .heading {
    padding-top: 10px;
    color: #5271FF;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .headingNormal {
    padding-top: 10px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .inputWrapper {
    margin-bottom: 1.5rem;
  }
  
  .textWhite {
    color: #fff;
  }
  
  .select {
    margin-bottom: 1.5rem;
  }
  
  .textSelect {
    color: #262424;
  }
  
  .textCenter {
    text-align: center;
  }
  
  .label {
    font-weight: bold;
  }
  
  .value {
    margin-top: 0.5rem;
  }
  
  .bgIndigo {
    background-color: #5271FF;
    
  }
  
  .btnUpdate {
    margin-right: 0.5rem;
  }
  
  .btnDelete {
    background-color: #FE796C;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .btnDelete:hover,
  .btnDelete:focus {
    background-color: #B73D19;
    border-color: #B73D19;
  }
  
  .buttons {
    padding-top: 10px;
  }
  